* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --main-color: #9b59b6;
  --error-color: #e74c3c;
  --success-color: #2ecc71;
}

body {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  position: relative;
}
.phase-one {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.form__title {
  font-size: 28px;
  font-weight: 600;
  position: relative;
  color: var(--main-color);
}
.form__title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, var(--main-color));
}
.user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.input-box {
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);
  color: var(--main-color);
}
.input-box label {
  font-weight: 600;
  font-size: 14px;
}
.input-box input {
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  color: rgb(54, 54, 54);
  margin-top: 10px;
}
.input-box small {
  color: var(--error-color);
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.input-box.success input {
  border-color: var(--success-color);
}

.input-box.error input {
  border-color: var(--error-color);
}

.input-box.error small {
  visibility: visible;
}

.input-box input:focus {
  border-color: var(--main-color);
}

.button {
  height: 45px;
  margin: 35px 0;
  max-width: 250px;
  margin: auto;
  margin-top: 5px;
}
.button button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, var(--main-color));
}
.button button:hover {
  background: linear-gradient(-135deg, #71b7e6, var(--main-color));
}
.slider {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 10px;
}

.slider label {
  font-weight: 600;
  font-size: 14px;
  color: var(--main-color);
}

.slider span {
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 5px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.slider small {
  padding: 5px;
  visibility: hidden;
  color: var(--error-color);
}

.slider.error small {
  visibility: visible;
}
.slider.beginner .slider__details span {
  background-color: var(--error-color);
}

.slider.competent .slider__details span {
  background-color: #007fff;
}

.slider.expert .slider__details span {
  background-color: var(--success-color);
}

.slider__details {
  display: flex;
  height: 28px;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}
.terms-conditions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}
.terms-conditions__details {
  display: flex;
  gap: 10px;
  align-items: center;
}

.terms-conditions small {
  visibility: hidden;
  color: var(--error-color);
}
.terms-conditions.error small {
  visibility: visible;
}

.phase-two {
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
}

.phase-two.open {
  display: flex;
  align-items: center;
  justify-content: center;
}
.phase-two.open iframe {
  width: 90%;
  height: 90%;
  border: none;
}
.phase-two__close {
  position: absolute;
  top: 0;
  right: 20px;
  cursor: pointer;
  color: white;
}
@media (max-width: 584px) {
  .form {
    max-width: 98%;
  }
  .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  .slider {
    width: 100%;
  }

  .user-details {
    max-height: 350px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
  .terms-conditions {
    align-items: center;
  }
  .terms-conditions__details {
    font-size: 12px;
  }
}
